.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.news-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-img-wrapper {
    position: relative;
    height: 200px;
}

.news-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: var(--secondary-bg-cl);
    /* твій колір */
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.news-content {
    padding: 20px;
}

.news-card-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.news-text {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
}

.news-link {
    display: inline-block;
    margin-top: 15px;
    color: var(--primary-cl);
    text-decoration: none;
    font-weight: bold;
}