/**
  |============================
  | <!-- Search section -->
  |============================
*/
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    width: 100%;
}

.search-form {
    background: #ffffff;
    border: 1px solid var(--secondary-bg-cl);
    border-radius: 20px;
    padding: 5px 15px;
    display: flex;
    width: 60%;
}

.search-form input {
    border: none;
    outline: none;
    padding: 8px;
    flex-grow: 1;
    font-size: 14px;
}

.search-form button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

.search-form button:hover {
    transform: scale(1.1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



/**
  |============================
  | Groups section
  |============================
*/
.submenu {
    display: none;
    list-style: none;
    padding-left: 15px;
    margin: 5px 0;
}



.has-dropdown.is-open>.submenu {
    display: block;
}

.arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 5px;
    display: flex;
    align-items: center;
}

.has-dropdown.is-open>.dropdown-header .arrow-btn {
    transform: rotate(180deg);
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.dropdown-header a {
    text-decoration: none;
    color: inherit;
}

/**
  |============================
  | Groups section
  |============================
*/

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
    list-style: none;
    padding: 0;
}

.product-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
    border-color: var(--secondary-bg-cl);
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-name {
    font-size: 18px;
    margin: 15px 0 10px;
    flex-grow: 1;
}

.groups-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px 0;
}

.product-price {
    font-weight: bold;
    color: var(--secondary-bg-cl);
    margin-bottom: 15px;
    font-size: 20px;
}

.buy-btn {
    margin-top: auto;
    background-color: var(--secondary-bg-cl);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    transition: background 0.3s;
}

.buy-btn:hover {
    background-color: #e1323d;
}

.filter-link {
    font-weight: 500;
    transition: color 0.2s;
}

.filter-link:hover {
    color: var(--secondary-bg-cl);
}

.arrow-btn:hover {
    color: var(--secondary-bg-cl);
}

.filters {
    flex: 0 0 250px;
    position: sticky;
    top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;

    border: 1px solid #e0e0e0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.product-gallery {
    flex-grow: 1;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.filters-title {
    font-size: 22px;
}

.container-load-more-btn {
    margin-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.load-more-btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 550;
    background-color: #fff;
    border: 1px solid #000;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.load-more-btn:hover,
.load-more-btn:focus {
    background-color: black;
    color: white;
    transition: background-color 0.3s;
}


/**
  |============================
  | Footer section
  |============================
*/
.footer-signature {
    margin: 0;
    padding: 10px 0;

    font-family: inherit;
    line-height: 1.2;
    text-align: center;
    cursor: default;
}

.footer-signature small {
    display: block;
    font-size: 0.6em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
    margin-top: 4px;
}

.footer-signature:hover small {
    letter-spacing: 0.8em;
    color: rgba(0, 0, 0, 1);
}