:root {

    /* Text colors */
    --main-text-color: black;
    --main-text-header-color: white;
    --hover-cl: #e1323d;

    /* Bg colors */
    --secondary-bg-cl: #ae002c;


}

html {
    box-sizing: border-box;
}

body {
    font-size: 17px;
    color: var(--main-text-color);
    line-height: 1.67;
    letter-spacing: 0.02em;
}

/* Reset Star */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.link {
    color: currentColor;
    text-decoration: none
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

li:last-child_ {
    margin-bottom: 0;
}

.page-box {
    overflow: hidden;
}

/* Reset End */

.container {
    min-width: 320px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    /* Outline: 2px solid red;
Outline-offset: -2px; */
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hover:hover,
.hover:focus {
    color: var(--hover-cl);
}

.hover-svg:hover,
.hover-svg:focus {
    fill: var(--hover-cl);
}

/**
  |============================
  | Header section
  |============================
*/
header {
    background-image: url(../img/bg-image/header_phone.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    justify-content: space-around;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 60px 0 60px;
}

.header-box-connection {
    display: flex;
    justify-content: space-around;
    color: var(--main-text-header-color);
}

.header-box-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 200px;
}


.header-social-box {
    fill: white;
    display: flex;
    justify-content: center;
    gap: 18px;
}


.header-box-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.header-img {
    background-color: white;
    border-radius: 50%;
}

.header-box-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 200px;
}

.header-cart-buy {
    position: fixed;
    top: 60px;
    right: 60px;
    z-index: 1000;

    display: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;


    justify-content: center;
    align-items: center;
}

.header-cart-buy:hover {
    fill: #e1323d;
    transform: fixed;
    scale: 1.1;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.header-cart {
    position: relative;
}


.cart-count {
    position: absolute;
    top: -10px;
    right: -15px;
    min-width: 20px;
    height: 20px;
    padding: 2px;

    border-radius: 50%;
    background-color: var(--secondary-bg-cl);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}

.header-box-nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 26px;
}

.heder-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;

}




/**
  |============================
  | Footer section
  |============================
*/
.footer-red {
    background-image: url(../img/bg-image/footer_phone.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-header-color);
    padding: 24px 0 58px;
}

.footer-container-box {
    width: 280px;
}

.footer-time {
    padding-bottom: 28px;
}


.footer-iteam {
    padding-bottom: 28px;
}

.footer-detail-order {
    display: flex;
    flex-direction: column;
}

.footer-box-logo {
    width: 250px;
}


.footer-box-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 28px;
    width: 200px;
}

.footer-social-container {
    padding-top: 18px;
    fill: white;
    display: flex;
    gap: 18px;
}



.footer-black {
    /* background-color: var(--main-text-color); */
}

.footer-black-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-black-link {
    color: var(--main-text-color);
}

.footer-black-text {
    font-size: 14px;
}

.footer-black-text1 {
    font-size: 14px;
    width: 200px;
    text-align: right;
}

/**
  |============================
  | Modal windows
  |============================
*/

/* Клас для приховування */
.is-hidden {
    display: none;
    /* opacity: 0;
    pointer-events: none;
    visibility: hidden; */
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    z-index: 100;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    background-color: var(--secondary-bg-cl);
    border-radius: 50%;
    border: none;

    cursor: pointer;
}

.modal-close-btn:hover {
    background-color: #e1323d;
}

.button-svg {}

.modal-content {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.modal-title {
    margin-bottom: 16px;
}

.total-amount {
    margin-top: 16px;
    font-size: xx-large;
}

.modal-actions {
    text-align: center;
    margin: 28px;
}

.order-btn {
    margin-top: auto;
    background-color: var(--secondary-bg-cl);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    transition: background 0.3s;
}

.order-btn:hover {
    background-color: #e1323d;
}