:root {

    /* Text colors */
    --main-text-color: black;
    --main-text-header-color: white;

    /* Bg colors */
    --secondary-bg-cl: #ae002c;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 17px;
    color: var(--main-text-color);
    line-height: 1.67;
    letter-spacing: 0.02em;
}

/* Reset Star */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.link {
    color: currentColor;
    text-decoration: none
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

li:last-child_ {
    margin-bottom: 0;
}

.page-box {
    overflow: hidden;
}

/* Reset End */

.container {
    min-width: 320px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    /* Outline: 2px solid red;
Outline-offset: -2px; */
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/**
  |============================
  | Header section
  |============================
*/
header {
    background-image: url(/img/bg-image/header_phone.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    justify-content: space-around;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 60px 0 60px;
}

.header-box-connection {
    display: flex;
    justify-content: space-around;
    color: var(--main-text-header-color);
}

.header-box-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 200px;
}


.header-social-box {
    fill: white;
    display: flex;
    justify-content: center;
    gap: 18px;
}


.header-box-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.header-img {
    background-color: white;
    border-radius: 50%;
}

.header-box-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 200px;
}


.header-box-nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 26px;
}

.heder-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;

}


/**
  |============================
  | <!-- Search section -->
  |============================
*/
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    width: 100%;
}

.search-form {
    background: #ffffff;
    border: 1px solid var(--secondary-bg-cl);
    border-radius: 20px;
    padding: 5px 15px;
    display: flex;
    width: 60%;
}

.search-form input {
    border: none;
    outline: none;
    padding: 8px;
    flex-grow: 1;
    font-size: 14px;
}

.search-form button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

.search-form button:hover {
    transform: scale(1.1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



/**
  |============================
  | Groups section
  |============================
*/
.submenu {
    display: none;
    list-style: none;
    padding-left: 15px;
    margin: 5px 0;
}



.has-dropdown.is-open>.submenu {
    display: block;
}

.arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 5px;
    display: flex;
    align-items: center;
}

.has-dropdown.is-open>.dropdown-header .arrow-btn {
    transform: rotate(180deg);
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.dropdown-header a {
    text-decoration: none;
    color: inherit;
}

/**
  |============================
  | Groups section
  |============================
*/

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
    list-style: none;
    padding: 0;
}

.product-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    transition: all 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
    border-color: var(--secondary-bg-cl);
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-name {
    font-size: 18px;
    margin: 15px 0 10px;
    flex-grow: 1;
    /* Штовхає ціну і кнопку вниз */
}


/* Контейнер, який ділить секцію на дві частини */
.groups-wrapper {
    display: flex;
    align-items: flex-start;
    /* Щоб панель не розтягувалася по висоті товарів */
    gap: 30px;
    /* Відстань між фільтрами та товарами */
    padding: 20px 0;
}

.product-price {
    font-weight: bold;
    color: var(--secondary-bg-cl);
    margin-bottom: 15px;
    font-size: 20px;
}

.buy-btn {
    margin-top: auto;
    background-color: var(--secondary-bg-cl);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    transition: background 0.3s;
}

.buy-btn:hover {
    background-color: #e1323d;
}

.filter-link {
    font-weight: 500;
    transition: color 0.2s;
}

.filter-link:hover {
    color: var(--secondary-bg-cl);
}

.arrow-btn:hover {
    color: var(--secondary-bg-cl);
}

.filters {
    flex: 0 0 250px;
    position: sticky;
    top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;

    border: 1px solid #e0e0e0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.product-gallery {
    flex-grow: 1;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.filters-title {
    font-size: 22px;
}

.container-load-more-btn {
    margin-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.load-more-btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 550;
    background-color: #fff;
    border: 1px solid #000;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.load-more-btn:hover,
.load-more-btn:focus {
    background-color: black;
    color: white;
    transition: background-color 0.3s;
}


/**
  |============================
  | Footer section
  |============================
*/
.footer-signature {
    margin: 0;
    padding: 10px 0;

    font-family: inherit;
    line-height: 1.2;
    text-align: center;
    cursor: default;
}

.footer-signature small {
    display: block;
    font-size: 0.6em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
    margin-top: 4px;
}

.footer-signature:hover small {
    letter-spacing: 0.8em;
    color: rgba(0, 0, 0, 1);
}

/**
  |============================
  | Footer section
  |============================
*/
.footer-red {
    background-image: url(/img/bg-image/footer_phone.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-header-color);
    padding: 24px 0 58px;
}

.footer-container-box {
    width: 280px;
}

.footer-time {
    padding-bottom: 28px;
}


.footer-iteam {
    padding-bottom: 28px;
}

.footer-detail-order {
    display: flex;
    flex-direction: column;
}

.footer-box-logo {
    width: 250px;
}


.footer-box-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 28px;
    width: 200px;
}

.footer-social-container {
    padding-top: 18px;
    fill: white;
    display: flex;
    gap: 18px;
}



.footer-black {
    /* background-color: var(--main-text-color); */
}

.footer-black-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-black-link {
    color: var(--main-text-color);
}

.footer-black-text {
    font-size: 14px;
}

.footer-black-text1 {
    font-size: 14px;
    width: 200px;
    text-align: right;
}